*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: black;
}
header{
    display:flex;
    margin-bottom:20vh;
    background-color: black;
    padding: 1vh;
}
#main{
    display:flex;
}
a{
    padding:1vh;
}
.butn{
    color: white;
    background-color: black;
    margin:0vh 0vh 0vh 3vh;
}
.one{
    display: flex;
    justify-content: flex-start;
    width:80vh;
}
.two{
    display: flex;
    justify-content: flex-end;
    width:100vh;
}
img{
    height:50vh;
    width:50vh;
}
#image{
    margin-right: 20vh;
    margin-left: 5vh;
}
#name{

    font-size: 8vh;
    color:green;
    margin-bottom: 3vh;
}
p{
    color: white;
}
.info{
    font-size: 3vh;
    width:90vh;
    margin-top: 4vh;
}
#resume{
    margin-top: 10vh;
    border: solid;
    border-color: green;
    background-color: black;
    color: green;
    text-decoration: none;
    padding: 1vh;
}
#description{
    margin-bottom: 10vh;
}
